<h1>Your Collections</h1>

<ul>
  <% @collections.each do |c| %>
    <li><%= link_to c.name, collection_path(c) %></li>
  <% end %>
</ul>

<div>
  <%= link_to "New Collection", new_collection_path, class: "btn btn-primary", role: "button" %>
</div>
