<% provide(:title, "Contact") %>
<h1 class="h2"><%= yield(:title) %></h1>

<ul>
  <li><a href="https://bryborge.com/">Personal Blog</a></li>
  <li><a href="https://www.linkedin.com/in/bryborge/">LinkedIn</a></li>
  <li><a href="https://github.com/bryborge">GitHub</a></li>
</ul>
