<% provide(:title, "Contact") %>
<h1 class="h2"><%= yield(:title) %></h1>

<ul>
  <li><a href="https://bryborge.com/" target="_blank">Personal Blog</a></li>
  <li><a href="https://www.linkedin.com/in/bryborge/" target="_blank">LinkedIn</a></li>
  <li><a href="https://github.com/bryborge" target="_blank">GitHub</a></li>
</ul>
