<% provide(:title, "Help") %>
<h1 class="h2"><%= yield(:title) %></h1>

<p>
  Whether you're new to Kollections or an experienced user, we're here to assist you in making the most out of your
  collection management experience. Below, you'll find a range of resources to guide you through common questions and
  provide support for any issues you might encounter.
</p>

<h2 class="h3">Getting Started</h2>

<p><strong>How to Create an Account:</strong> Learn the simple steps to sign up and start using Kollections. <i>(Coming Soon, possibly)</i></p>

<h2 class="h3">How-To Guides</h2>

<p><strong>Adding Items to Your Collection:</strong> Step-by-step instructions on cataloging new items, including tips for detailed descriptions and photo uploads. <i>(Coming Soon, possibly)</i></p>
<p><strong>Organizing Your Collections:</strong> Discover the best practices for categorizing and managing your collections for easy access and display. <i>(Coming Soon, possibly)</i></p>
<p><strong>Sharing Your Collections:</strong> Find out how to share your collections with friends or the Kollections community, including privacy settings. <i>(Coming Soon, possibly)</i></p>

<h2 class="h3">Features & Functionality</h2>

<p><strong>Customization Options:</strong> Explore ways to personalize your Kollections experience, from themes to display settings. <i>(Coming Soon, possibly)</i></p>

<h2 class="h3">Troubleshooting</h2>

<p><strong>Common Issues:</strong> Solutions to frequent problems, such as login difficulties, syncing errors, and feature malfunctions. <i>(Coming Soon, possibly)</i></p>
<p><strong>App Updates:</strong> How to ensure your app is up-to-date for the best performance and latest features. <i>(Coming Soon, possibly)</i></p>

<h2 class="h3">Account Management</h2>

<p><strong>Updating Your Profile:</strong> Instructions for changing your profile information, preferences, and security settings. <i>(Coming Soon, possibly)</i></p>
<p><strong>Password Reset:</strong> Steps to securely reset your password. <i>(Coming Soon, possibly)</i></p>
<p><strong>Deactivating Your Account:</strong> Information on how to temporarily deactivate or permanently delete your account, along with data retention policies. <i>(Coming Soon, possibly)</i></p>

<h2 class="h3">Feedback & Suggestions</h2>

<p><strong>Submit Feedback:</strong> We love hearing from our users! Learn how to provide feedback on your experience or suggest new features. <i>(Coming Soon, possibly)</i></p>
