<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid py-5">
    <h1>Goodbye, Clutter 👋</h1>
    <p class="col-md-8 fs-4">
      Welcome to Kollections, Where Every Treasure Has a Home.
    </p>
  </div>

  <%= link_to "Sign up now", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>
