# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.0
    hooks:
      - id: end-of-file-fixer   # add single empty line at EOF
      - id: trailing-whitespace # trim trailing whitespace
      - id: no-commit-to-branch # don't commit to `master` or `main` directly

  - repo: https://github.com/mattlqx/pre-commit-ruby
    rev: v1.3.5
    hooks:
      - id: rubocop
      - id: rspec
