<h1><%= @collectible.name.titleize %></h1>

<% if @collectible.description %>
  <p><%= @collectible.description %></p>
<% end %>

<% if @collectible.acquisition_date %>
  <p>Acquired on: <%= @collectible.acquisition_date %></p>
<% end %>

<div class="d-flex">
  <%= link_to "Back to Collection", collection_path(@collection), class: "btn btn-outline-secondary me-2", role: "button" %>
</div>
